<ng-container *ngIf="networkState && networkState.rooms.length > 0; else noRooms">
  <div *ngFor="let room of networkState.rooms" class="tw-my-1 tw-w-full">
    <div
      class="room"
      [class.selected]="isRoomSelected(room)"
    >
      <label for="roomCheckbox{{room.id}}" class="tw-cursor-pointer">
        <div class="tw-flex tw-justify-between md:tw-min-w-32">
          <div>
            <h2>{{ room.name }}</h2>
            <p>Assigned: {{ room.connectedDevices.length }}</p>
            <p *ngIf="getOfflineDevicesCount(room) > 0">
              <fa-icon class="tw-text-warning" [icon]="offlineWarningIcon"></fa-icon>
              Offline: {{ getOfflineDevicesCount(room) }}
            </p>
          </div>
          <div class="tw-flex tw-justify-center">
            <input id="roomCheckbox{{room.id}}"
                   type="checkbox"
                   [checked]="isRoomSelected(room)"
                   (change)="onRoomSelectionChanged($event, room)"
                   class="checkbox"/>
          </div>
        </div>
      </label>
    </div>
  </div>
</ng-container>

<ng-template #noRooms>
  <p>No rooms available</p>
</ng-template>
