<div id="settingsWrapper" class="bg-warning">
    <div id="settings" class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title border-bottom">
                    <h1 class="text-center">Settings</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="chroma" id="chromaSupport" name="chromaSupport">
                                <label class="form-check-label" for="chromaSupport">
                                    Enable chroma support
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button (click)="saveSettings()" class="btn btn-primary w-25">
                            <fa-icon [icon]="saveIcon"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
