#powerOff, #powerOffMobile {
  &:hover {
    @apply tw-bg-error tw-border-error tw-text-error-content;
  }
}

/* Desktop Navigation */
.nav-menu {
  ul {
    li {
      position: relative;
      white-space: nowrap;
    }

    &.websocket-disconnected li a, &.websocket-connection-error li a{
      @apply tw-border-error;
    }

    &.websocket-connected li a{
      @apply tw-border-success;
    }

    &.websocket-connecting li a{
      @apply tw-border-blue-600;
    }
  }

  a {
    @apply
    tw-bg-base-300
    tw-border-base-300
    tw-border-2
    tw-text-base-content
    tw-flex
    tw-items-center
    tw-p-[1.1rem]
    tw-mt-2
    tw-rounded-2xl
    tw-h-14
    tw-w-full
    tw-overflow-hidden
    md:tw-w-[56px];
    transition: 200ms;

    fa-icon {
      @apply tw-text-lg;
    }

    &:hover {
      @apply
      tw-bg-primary
      tw-border-primary
      tw-text-primary-content;
    }

    span {
      @apply tw-ms-4 md:tw-hidden;
    }
  }

  a:hover, li:hover > a {
    @apply tw-w-full;
  }

  a:hover span, li:hover > a span {
    @apply tw-block;
  }

  .colorpicker {
    @apply tw-h-[275px] md:tw-h-[175px];
  }

  .roomselector {
    @apply tw-h-[275px] md:tw-h-[175px] tw-overflow-y-auto;
  }

  .active {
    @apply
    tw-bg-primary
    tw-text-primary-content;
  }
}

.actions fa-icon {
  transition: 300ms;
  @apply
  tw-ms-0.5
  md:tw-ms-2
  lg:tw-ms-4
  tw-p-4;

  &:hover:not(.disabled) {
    @apply tw-bg-primary-focus tw-rounded-full;
  }

  &.disabled {
    @apply tw-opacity-50;
  }
}

.centered {
  @apply tw-flex tw-justify-center;
}
