
  <nav class="nav-menu">
    <ul
      [class.websocket-disconnected]="isDisconnected"
      [class.websocket-connection-error]="isConnectionError"
      [class.websocket-connected]="isConnected"
      [class.websocket-connecting]="isConnecting"
    >
      <li>
        <a routerLink="home" routerLinkActive="active">
          <fa-icon [icon]="homeIcon"></fa-icon>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/mode" routerLinkActive="active">
          <fa-icon [icon]="modeIcon"></fa-icon>
          <span>Mode</span>
        </a>
      </li>
      <li>
        <a routerLink="/visualizer" routerLinkActive="active">
          <fa-icon [icon]="visualizerIcon"></fa-icon>
          <span>Visualizer</span>
        </a>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="active">
          <fa-icon [icon]="settingsIcon"></fa-icon>
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a (click)="$event.preventDefault()" href="">
          <fa-icon [icon]="controlsIcon"></fa-icon>
          <span class="actions">
                <fa-icon
                  [class.disabled]="minimumBrightnessReached"
                  (click)="this.decreaseBrightness()"
                  [icon]="decreaseBrightnessIcon">
                </fa-icon>
                <fa-icon
                  [class.disabled]="maximumBrightnessReached"
                  (click)="this.increaseBrightness()"
                  [icon]="increaseBrightnessIcon">
                </fa-icon>
                <fa-icon
                  [class.disabled]="minimumSpeedReached"
                  (click)="this.decreaseSpeed()"
                  [icon]="speedDecreaseIcon">
                </fa-icon>
                <fa-icon
                  [class.disabled]="maximumSpeedReached"
                  (click)="this.increaseSpeed()"
                  [icon]="speedIncreaseIcon">
                </fa-icon>
            </span>
        </a>
      </li>
      <li>
          <a class="roomselector">
            <fa-icon [icon]="roomsSelectIcon"></fa-icon>
            <span class="tw-w-full">
              <app-room-select></app-room-select>
            </span>
         </a>
      </li>
      <li>
        <a class="colorpicker" [class.centered]="colorPickerOrientation === 'vertical'">
          <fa-icon [icon]="colorpickerIcon"></fa-icon>
          <div class="tw-ms-4 md:tw-ms-8 tw-d-flex tw-justify-center">
            <app-colorpicker [orientation]="colorPickerOrientation"></app-colorpicker>
          </div>
        </a>
      </li>
      <li (click)="turnOff()">
        <a (click)="$event.preventDefault()" href="" id="powerOff">
          <fa-icon [icon]="powerOffIcon"></fa-icon>
          <span>Power Off</span>
        </a>
      </li>
    </ul>
  </nav>

