<div #container>
  <button (click)='this.mobileMenu.toggle()' class='mobile-nav-toggle d-lg-none' type='button'>
    <fa-icon [icon]='mobileMenuIcon'></fa-icon>
  </button>
  <!--  Navigation for big screens-->
  <header class='d-flex flex-column justify-content-center' id='header'>
    <nav class='nav-menu'>
      <ul>
        <li>
          <a routerLink='home' routerLinkActive='active'>
            <fa-icon [icon]='homeIcon'></fa-icon>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a routerLink='/mode' routerLinkActive='active'>
            <fa-icon [icon]='modeIcon'></fa-icon>
            <span>Mode</span>
          </a>
        </li>
        <li>
          <a routerLink='/visualizer' routerLinkActive='active'>
            <fa-icon [icon]='visualizerIcon'></fa-icon>
            <span>Visualizer</span>
          </a>
        </li>
        <li>
          <a routerLink='/settings' routerLinkActive='active'>
            <fa-icon [icon]='settingsIcon'></fa-icon>
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a (click)='$event.preventDefault()' href=''>
            <fa-icon [icon]='controlsIcon'></fa-icon>
            <span>
              <fa-icon (click)='this.decreaseBrightness()' [icon]='decreaseBrightnessIcon'
                       class='ms-2 ms-lg-4'></fa-icon>
              <fa-icon (click)='this.increaseBrightness()' [icon]='increaseBrightnessIcon'
                       class='ms-2 ms-lg-4'></fa-icon>
              <fa-icon (click)='this.decreaseSpeed()' [icon]='speedDecreaseIcon'
                       class='ms-2 ms-lg-4'></fa-icon>
              <fa-icon (click)='this.increaseSpeed()' [icon]='speedIncreaseIcon'
                       class='ms-2 ms-lg-4'></fa-icon>
            </span>
          </a>
        </li>
        <li>
          <a class='colorpicker h-100'>
            <fa-icon [icon]='colorpickerIcon'></fa-icon>
            <div class='ms-2 ms-lg-4'>
              <app-colorpicker orientation='horizontal'></app-colorpicker>
            </div>
          </a>
        </li>
        <li (click)='turnOff()'>
          <a (click)='$event.preventDefault()' href='' id='powerOff'>
            <fa-icon [icon]='powerOffIcon'></fa-icon>
            <span>Power Off</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <!--  Menu for small, mobile devices-->
  <app-offcanvas (stateCanged)='onMobileMenuChange($event)' #mobileMenu position="left" width='300px'>
    <div body class='d-flex justify-content-center flex-column h-100'>
      <nav class='nav-menu mx-3'>
        <ul>
          <li>
            <a routerLink='home' routerLinkActive='active'>
              <fa-icon [icon]='homeIcon'></fa-icon>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a routerLink='/mode' routerLinkActive='active'>
              <fa-icon [icon]='modeIcon'></fa-icon>
              <span>Mode</span>
            </a>
          </li>
          <li>
            <a routerLink='/visualizer' routerLinkActive='active'>
              <fa-icon [icon]='visualizerIcon'></fa-icon>
              <span>Visualizer</span>
            </a>
          </li>
          <li>
            <a routerLink='/settings' routerLinkActive='active'>
              <fa-icon [icon]='settingsIcon'></fa-icon>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a (click)='$event.preventDefault()' href=''>
              <fa-icon [icon]='controlsIcon'></fa-icon>
              <span>
                        <fa-icon (click)='this.decreaseBrightness()' [icon]='decreaseBrightnessIcon'
                                 class='ms-2 ms-lg-4'></fa-icon>
                        <fa-icon (click)='this.increaseBrightness()' [icon]='increaseBrightnessIcon'
                                 class='ms-2 ms-lg-4'></fa-icon>
                        <fa-icon (click)='this.decreaseSpeed()' [icon]='speedDecreaseIcon'
                                 class='ms-2 ms-lg-4'></fa-icon>
                        <fa-icon (click)='this.increaseSpeed()' [icon]='speedIncreaseIcon'
                                 class='ms-2 ms-lg-4'></fa-icon>
                    </span>
            </a>
          </li>
          <li>
            <a class='colorpicker h-100'>
              <fa-icon [icon]='colorpickerIcon'></fa-icon>
              <div class='ms-2 ms-lg-4'>
                <app-colorpicker orientation='vertical'></app-colorpicker>
              </div>
            </a>
          </li>
          <li (click)='turnOff()'>
            <a (click)='$event.preventDefault()' href='' id='powerOffMobile'>
              <fa-icon [icon]='powerOffIcon'></fa-icon>
              <span>Power Off</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </app-offcanvas>
</div>

<!-- Required to cover up the content while transitioning-->
<div id='cover'></div>

<!--Container for transition effect 1, from left-->
<div class='transition-container from-left'>
  <span class='tile'></span>
  <span class='tile'></span>
  <span class='tile'></span>
  <span class='tile'></span>
  <span class='tile'></span>
  <span class='tile'></span>
</div>

<!-- Continer for transition effect 2, from the top-->
<div class='transition-container from-top'>
  <span class='tile'></span>
  <span class='tile'></span>
  <span class='tile'></span>
  <span class='tile'></span>
  <span class='tile'></span>
  <span class='tile'></span>
</div>
