@import '../../../styles/variables';

/* Desktop Navigation */
.nav-menu {
  ul li {
    position: relative;
    white-space: nowrap;
  }

  a {
    @apply
    tw-bg-base-200
    tw-flex
    tw-items-center
    tw-p-[1.1rem]
    tw-mt-2
    tw-rounded-lg
    tw-h-14
    tw-w-full
    tw-overflow-hidden;
    transition: 200ms;

    fa-icon {
      @apply tw-text-lg;
    }

    &:hover {
      @apply tw-bg-primary;
    }

    span {
      @apply tw-ms-4;
    }
  }

  a:hover, li:hover > a {
    @apply tw-w-full;
  }

  a:hover span, li:hover > a span {
    @apply tw-block;
  }

  .colorpicker {
    height: 175px;
  }

  .active {
    @apply
    tw-bg-primary
    tw-text-primary-content;
  }
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;

    span {
      display: none;
      color: #fff;
    }
  }
}

// Mobile navigation
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9999;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;

  fa-icon {
    color: $secondary;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    left: -300px;
    background: white;
  }
}


/**
CSS Required for the page transitions
 */
.transition-container {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1030;
  pointer-events: none;

  span {
    position: relative;
  }

  &.from-left {
    flex-direction: column;
    margin: -5px, -5px, -5px, -5px;

    span {
      background: rgb(79, 91, 255);
      height: 100%;
      width: 0;
    }
  }

  &.from-top {
    span {
      background: rgb(170, 79, 255);
      height: 0;
      width: 100%;
    }
  }
}

#cover {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
}
