<div class="circle d-flex flex-column justify-content-end">
  <h1 class="superLarge mb-5 ml-5">Controlling<br>Segments</h1>
</div>
<div class="d-flex justify-content-end">
  <div class="container mr-0">
    <div class="btn-toolbar row justify-content-center mt-5" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button class="btn btn-secondary" (click)="onSave()"><i class="fas fa-save fa-lg"></i></button>
        <button class="btn btn-secondary" (click)="onPause()"><i class="fas fa-pause fa-lg"></i></button>
        <button class="btn btn-secondary" (click)="onResume()"><i class="fas fa-play fa-lg"></i></button>
        <button class="btn btn-secondary" (click)="onStart()"><i class="fas fa-power-off fa-lg"></i></button>
        <button class="btn btn-secondary" (click)="onStop()"><i class="fas fa-stop fa-lg"></i></button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col row">
        <div class="col small-6">
          <div>
            <div class="row justify-content-between align-middle">
              <h3 style="display: inline-block">Segments</h3>
              <button class="btn btn-secondary mr-3" (click)="onAddSegment($event)"><i
                      class="fas fa-plus-square text-white fa-lg"></i></button>
            </div>
            <ul id="segmentList" class="list-group mt-2">
              <li
                      *ngFor="let segment of segments; let indexOfelement = index"
                      (click)="onChangeSegment($event)"
                      [ngClass]="{'active': segmentIndex === indexOfelement}"
                      class="list-group-item d-flex justify-content-between">
                <div>{{segment.start}} - {{ segment.stop }} :  {{ getModeName(segment.mode)}}</div>
                <button (click)="onDeleteSegment($event, indexOfelement)" class="btn btn-warning">
                  <i class="fas fa-trash-alt text-white"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col small-5 small-offset-1">
          <div>
            <h3 class="mdc-typography--subtitle1">Segment Range</h3>
            <nouislider [(ngModel)]="rangeSlider" [config]="rangeSliderConfig" (end)="updateSegment()"></nouislider>
            <div class="row justify-content-between">
              <p>{{ rangeSlider[0]}}</p>
              <p>{{rangeSlider[1]}}</p>
            </div>
          </div>
          <div class="mt-2">
            <h3 class="mdc-typography--subtitle1">Segment Speed</h3>
            <nouislider [(ngModel)]="speedSlider" [config]="speedSliderConfig" (end)="updateSegment()"></nouislider>
            <p>{{speedSlider}}</p>
          </div>
          <div class="mt-2">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="modes">mode</label>
              </div>
              <select id="modes" class="custom-select" (change)="updateSegment()">
                <option *ngFor="let mode of modes" value="{{mode.modeNumber}}">{{getModeName(mode.modeNumber)}}</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="fade">fade</label>
              </div>
              <select id="fade" class="custom-select" (change)="updateSegment()">
                <option value="0" selected>Default</option>
                <option value="1">XFAST</option>
                <option value="2">FAST</option>
                <option value="3">MEDIUM</option>
                <option value="4">SLOW</option>
                <option value="5">XSLOW</option>
                <option value="6">XXSLOW</option>
                <option value="7">GLACIAL</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="size">size</label>
              </div>
              <select id="size" class="custom-select" (change)="updateSegment()">
                <option value="0" selected>SMALL</option>
                <option value="1">MEDIUM</option>
                <option value="2">LARGE</option>
                <option value="3">XLARGE</option>
              </select>
            </div>
            <div class="row justify-content-between">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="checkbox" checked autocomplete="off" id="gamma"> Gamma
                </label>
              </div>
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="checkbox" checked autocomplete="off" id="reverse"> Reverse
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
