<div class="circle d-flex flex-column justify-content-end">
    <h1 class="superLarge mb-5 ml-5">Controlling<br>Segments</h1>
</div>
<div class="d-flex justify-content-end">
    <div class="container mr-0">
        <div aria-label="Toolbar with button groups" class="btn-toolbar row justify-content-center mt-5" role="toolbar">
            <div aria-label="First group" class="btn-group mr-2" role="group">
                <button (click)="onSave()" class="btn btn-secondary"><i class="fas fa-save fa-lg"></i></button>
                <button (click)="onPause()" class="btn btn-secondary"><i class="fas fa-pause fa-lg"></i></button>
                <button (click)="onResume()" class="btn btn-secondary"><i class="fas fa-play fa-lg"></i></button>
                <button (click)="onStart()" class="btn btn-secondary"><i class="fas fa-power-off fa-lg"></i></button>
                <button (click)="onStop()" class="btn btn-secondary"><i class="fas fa-stop fa-lg"></i></button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col row">
                <div class="col small-6">
                    <div>
                        <div class="row justify-content-between align-middle">
                            <h3 style="display: inline-block">Segments</h3>
                            <button (click)="onAddSegment($event)" class="btn btn-secondary mr-3"><i
                                    class="fas fa-plus-square text-white fa-lg"></i></button>
                        </div>
                        <ul class="list-group mt-2" id="segmentList">
                            <li
                                    (click)="onChangeSegment($event)"
                                    *ngFor="let segment of segments; let indexOfelement = index"
                                    [ngClass]="{'active': segmentIndex === indexOfelement}"
                                    class="list-group-item d-flex justify-content-between">
                                <div>{{segment.start}} - {{ segment.stop }} :  {{ getModeName(segment.mode)}}</div>
                                <button (click)="onDeleteSegment($event, indexOfelement)" class="btn btn-warning">
                                    <i class="fas fa-trash-alt text-white"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col small-5 small-offset-1">
                    <div>
                        <h3 class="mdc-typography--subtitle1">Segment Range</h3>
                        <nouislider (end)="updateSegment()" [(ngModel)]="rangeSlider"
                                    [config]="rangeSliderConfig"></nouislider>
                        <div class="row justify-content-between">
                            <p>{{ rangeSlider[0]}}</p>
                            <p>{{rangeSlider[1]}}</p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <h3 class="mdc-typography--subtitle1">Segment Speed</h3>
                        <nouislider (end)="updateSegment()" [(ngModel)]="speedSlider"
                                    [config]="speedSliderConfig"></nouislider>
                        <p>{{speedSlider}}</p>
                    </div>
                    <div class="mt-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="modes">mode</label>
                            </div>
                            <select (change)="updateSegment()" class="custom-select" id="modes">
                                <option *ngFor="let mode of modes"
                                        value="{{mode.modeNumber}}">{{getModeName(mode.modeNumber)}}</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="fade">fade</label>
                            </div>
                            <select (change)="updateSegment()" class="custom-select" id="fade">
                                <option selected value="0">Default</option>
                                <option value="1">XFAST</option>
                                <option value="2">FAST</option>
                                <option value="3">MEDIUM</option>
                                <option value="4">SLOW</option>
                                <option value="5">XSLOW</option>
                                <option value="6">XXSLOW</option>
                                <option value="7">GLACIAL</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="size">size</label>
                            </div>
                            <select (change)="updateSegment()" class="custom-select" id="size">
                                <option selected value="0">SMALL</option>
                                <option value="1">MEDIUM</option>
                                <option value="2">LARGE</option>
                                <option value="3">XLARGE</option>
                            </select>
                        </div>
                        <div class="row justify-content-between">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                    <input autocomplete="off" checked id="gamma" type="checkbox"> Gamma
                                </label>
                            </div>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary">
                                    <input autocomplete="off" checked id="reverse" type="checkbox"> Reverse
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
