@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@font-face {
  font-family: "Comfortaa";
  src: url('../assets/fonts/comfortaa/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Monoton";
  src: url('../assets/fonts/monoton/Monoton-Regular.ttf');
}

@font-face {
  font-family: "RajdhaniMedium";
  src: url('../assets/fonts/Rajdhani/Rajdhani-Medium.ttf');
}

$font-family-base: "Comfortaa";


// Color themes
$themes: (
  "default": #3e92cc,
  'carrot':#e18a3a,
  "banana": #F5CF38,
  "cherry": #c0392b,
  "sunday": #41888c,
  "leaf": #27ae60,
  "candy-cane":#cf8093,
  'seaweed': #999c41,
  'sulfur': #485156,
  'yucca':#1a5c40,
  'walnut':#6d6552,
  'elderberry':#cb5845
);

$primary:  #3e92cc;
$secondary: #3A4454;
$success: #198754;
$danger: #D8315B;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #1E1B18;

