<div id="menu-bar">
    <div class="left"></div>
    <div class="right">
        <button (click)="minimizeButtonAction()" class="menubar-btn" id="minimize-btn">
            <fa-icon [icon]="minimize"></fa-icon>
        </button>
        <button (click)="maximizeButtonAction()" class="menubar-btn" id="max-unmax-btn">
            <fa-icon [icon]="maximize"></fa-icon>
        </button>
        <button (click)="exitButtonAction()" class="menubar-btn" id="close-btn">
            <fa-icon [icon]="exit"></fa-icon>
        </button>
    </div>
</div>

<!-- ======= Mobile nav toggle button ======= -->
<button (click)="mobileNav()" class="mobile-nav-toggle d-lg-none mt-4" type="button">
    <fa-icon [icon]="mobileMenu"></fa-icon>
</button>

<!-- ======= Header ======= -->
<header class="d-flex flex-column justify-content-center" id="header">

    <nav class="nav-menu">
        <ul>
            <li>
                <a routerLink="">
                    <fa-icon [icon]="home"></fa-icon>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a routerLink="/mode">
                    <fa-icon [icon]="mode"></fa-icon>
                    <span>Mode</span>
                </a>
            </li>
            <li>
                <a routerLink="/visualizer">
                    <fa-icon [icon]="visualizer"></fa-icon>
                    <span>Visualizer</span>
                </a>
            </li>
            <li>
                <a (click)="$event.preventDefault()" href="">
                    <fa-icon [icon]="controls"></fa-icon>
                    <span>
                        <fa-icon (click)="decreaseBrightness()" [icon]="decreaseBrightnessIcon"
                                 class="ml-4 hover"></fa-icon>
                        <fa-icon (click)="increaseBrightness()" [icon]="increaseBrightnessIcon"
                                 class="ml-4 hover"></fa-icon>
                        <fa-icon (click)="decreaseSpeed()" [icon]="speedDecreaseIcon" class="ml-4 hover"></fa-icon>
                        <fa-icon (click)="increaseSpeed()" [icon]="speedIncreaseIcon" class="ml-4 hover"></fa-icon>
                    </span>
                </a>
            </li>
            <li>
                <a routerLink="/settings">
                    <fa-icon [icon]="settings"></fa-icon>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a class="colorpicker h-100">
                    <fa-icon [icon]="colorpicker"></fa-icon>
                    <div class="ml-4" id="picker"></div>
                </a>
            </li>

        </ul>
    </nav><!-- .nav-menu -->

</header><!-- End Header -->
