@import '../../../../variables';

//noinspection CssUnknownProperty
#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $menu-bar-height;
  background: getColor('primary');
  -webkit-app-region: drag;
  position: fixed;
  z-index: 9999;
  right: 0;
  width: 100%;

  > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    height: 100%;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: none;

    fa-icon {
      color: white;
    }

    &:hover {
      background: darken(getColor('primary'), 10%);
    }
  }
}

.menubar-btn {
  //noinspection CssUnknownProperty
  -webkit-app-region: no-drag;
}

.container {
  height: calc(100vh - 30px);
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

.transition-container {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1030;
  pointer-events: none;

  span {
    position: relative;
  }

  &.from-left {
    flex-direction: column;
    margin: -5px, -5px, -5px, -5px;

    span {
      background: rgb(79, 91, 255);
      height: 100%;
      width: 0;
    }
  }

  &.from-top {
    span {
      background: rgb(170, 79, 255);
      height: 0;
      width: 100%;
    }
  }
}

#cover {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
}

.active {
  background: getColor('primary');
  color: white;
}


/* Desktop Navigation */

.nav-menu {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul > li {
    position: relative;
    white-space: nowrap;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: getColor('secondary');
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;

    fa-icon {
      font-size: 20px;
    }

    .hover {
      padding: 0.75em;
      border-radius: 50%;

      &:hover {
        background: darken(getColor('primary'), 10%);
      }
    }

    span, div {
      padding: 0 5px 0 7px;
      color: getColor('secondary');
    }

    &:hover {
      color: #fff;
      background: getColor('primary');
    }
  }

  .active > a, li:hover > a {
    color: #fff;
    background: getColor('primary');
  }

  a:hover span, .active > a span, li:hover > a span {
    color: #fff;
  }

  a:hover, li:hover > a {
    width: 100%;
    color: #fff;
  }

  a:hover span, li:hover > a span {
    display: block;
  }

  .colorpicker:hover {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;

    span {
      display: none;
      color: #fff;
    }
  }
}

/* Mobile Navigation */

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;

  fa-icon {
    color: getColor('secondary');
  }
}

.mobile-nav-active {
  overflow: hidden;

  #header {
    left: 0;
  }

  .mobile-nav-toggle fa-icon {
    color: getColor('primary');
  }
}



/*
Navigation animations
 */

.tile{
  background: black;
}
