@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Comfortaa";
    src: url("./assets/fonts/comfortaa/Comfortaa-VariableFont_wght.ttf");
  }
}

.tw-container {
  @apply tw-mx-auto tw-p-5 md:tw-p-0;
}

.tw-tab-active {
  transition: 300ms;
  border-color: hsl(var(--p)) !important;
  color: hsl(var(--p));
}

.tw-card {
  @apply tw-shadow-xl tw-bg-neutral tw-text-neutral-content;
}

.tw-btn {
  transition: 200ms ease-in-out;
}

.ngx-slider .ngx-slider-pointer {
  background: hsl(var(--p)) !important;

  &:after {
    background: hsl(var(--a)) !important;
  }
}
@import 'aos/dist/aos.css';
