/* You can add global styles to this file, and also import other style files */
@import './styles/_variables.scss';
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  overflow-x: hidden;
}

a {
  color: $primary;

  &:hover {
    color: $primary;
    text-decoration: none !important;
  }
}

h1, h3, h4, h5, h6 {
  font-family: "Comfortaa", sans-serif !important;
}

h2 {
  font-family: "Raleway", sans-serif !important;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: $primary;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }

  p {
    margin-bottom: 0;
  }
}

@function setTextColor($color) {
  @if (lightness($color) > 50) {
    @return #212529FF; // Lighter background, return dark color
  } @else {
    @return white; // Darker background, return light color
  }
}

// Helper theme mixin
// @param $name: name of the theme (HTML class)
// @param $color: color of the theme
@mixin theme($name, $color) {
  $transition: 0.15s ease-in-out;

  #mode-page-illustration-#{$name} {
    #Board, #CheckboxLeft, #CheckboxRight, #CheckboxBottomRight {
      fill: $color;
    }
  }

  .mobile-nav-active .mobile-nav-toggle fa-icon {
    color: $color;
  }

  #not-found-#{$name} {
    .fill-lighten {
      fill: $color;
      opacity: 0.5;
    }

    .fill-full {
      fill: $color;
    }
  }

  .icon-box-#{$name} {
    border: 3px solid $color;

    h4:after {
      background: $color;
    }

    path {
      fill: $color;
    }
  }

  .#{$name}.color-option {
    background: $color !important;
    color: setTextColor($color);
  }

  .#{$name} {
    #menu-bar {
      transition: background-color $transition;
      background: $color !important;
    }

    #ledcontroltext, #Light_Bulb {
      stroke: $color !important;
    }

    .bg-primary, .btn-primary {
      background: $color !important;
    }

    .btn-primary {
      border-color: darken($color, 5%);

      &:hover, &:focus {
        border-color: darken($color, 10%) !important;
      }

      &:focus {
        box-shadow: 0 0 0 0.25rem transparentize($color, 0.5)
      }
    }

    .nav-menu {
      .active > a, li:hover > a {
        background: $color !important;
      }

      a span fa-icon:hover {
        background: darken($color, 10%) !important;
      }

      ul > li {
        .active {
          background: $color !important;
        }

        > a:hover {
          background: $color !important;
        }
      }
    }
  }
}

// Including themes
// By looping through the $themes map
@each $key, $value in $themes {
  @include theme($key, $value);
}

@import "./styles/bootstrap";

@media screen and (max-width: map-get($grid-breakpoints, 'sm')){
  html {
    user-select: none;
  }
}

@import "aos/dist/aos.css";
