<div class='vh-100' id='wrapper'>
  <div class='h-50'>
    <app-shared-visualizer [options]='visualizerOptions' [gradients]='gradients'></app-shared-visualizer>
  </div>
  <div id='overlay' class='d-flex justify-content-center align-content-center'>
    <section id='section05' class='w-100 d-flex flex-column justify-content-center align-items-center'>
      <h3 (click)='scroll(settings)'><span></span>Settings</h3>
      <button class='btn btn-sm btn-primary' (click)='dismissOverlay()'>Okay</button>
    </section>
  </div>
  <div class='container mt-5'>
    <div class='card'>
      <div class='card-header d-flex justify-content-between bg-primary text-white align-content-center'
           #settings>
        <h5 class='text-white'>Settings</h5>
        <div>
          <a (click)='updateLedstrip()' class='btn btn-primary'>
            <fa-icon [icon]='modeIcon' size='1x'></fa-icon>
          </a>
          <a class='btn btn-primary'>
            <fa-icon (click)='fullscreen()' [icon]='fullscreenIcon' size='1x'></fa-icon>
          </a>
          <a class='btn btn-primary'>
            <fa-icon (click)='saveOptions()' [icon]='saveIcon' size='1x'></fa-icon>
          </a>
          <a class='btn btn-primary'>
            <fa-icon (click)='loadOptions()' [icon]='load' size='1x'></fa-icon>
          </a>
        </div>
      </div>
      <div class='card-body text-dark'>
        <div class='row'>
          <!--                Gradient-->
          <div class='col'>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <label class='input-group-text bg-secondary text-white'
                       for='gradientSelect'>Gradient</label>
              </div>
              <!--<select (change)='changeGradient($event.target.value)' class='form-select'
                      id='gradientSelect'>
                <option *ngFor='let gradient of gradients; let gradientIndex = index'
                        [value]='gradientIndex'>
                  {{gradient.name}}
                </option>
              </select>-->
            </div>
          </div>
          <!--                FFT Size-->
          <div class='col'>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <label class='input-group-text bg-secondary text-white' for='fftSize'>FFT Size</label>
              </div>
              <select (change)='updateOptions()' [(ngModel)]='visualizerOptions.fftSize'
                      class='form-select'
                      id='fftSize'>
                <option value='512'>512</option>
                <option value='1024'>1024</option>
                <option value='2048'>2048</option>
                <option value='4096'>4096</option>
                <option selected value='8192'>8192</option>
                <option value='16384'>16384</option>
                <option value='32768'>32768</option>
              </select>
            </div>
          </div>
          <!--                Smooth slider-->
          <div class='col d-flex flex-column'>
<!--            <nouislider (update)='updateOptions()' [(ngModel)]='visualizerOptions.smoothing'-->
<!--                        [config]='smoothingConfig'></nouislider>-->
            <p class='small text-dark'>Smoothing: {{visualizerOptions.smoothing}}</p>
          </div>
        </div>
        <div class='row'>
          <!--              Mode-->
          <div class='col'>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <label class='input-group-text bg-secondary text-white'
                       for='gradientSelect'>Mode</label>
              </div>
              <select #modeSelect (change)='updateMode($event)' class='form-select'
                      id='modeSelect'>
                <option *ngFor='let mode of modes;'
                        [selected]='mode.value === visualizerOptions.mode'
                        [value]='mode.value'
                >
                  {{mode.text}}
                </option>
              </select>
            </div>
          </div>
          <!--                Reflex-->
          <div class='col'>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <label class='input-group-text bg-secondary text-white'
                       for='reflex'>Reflex</label>
              </div>
              <select (change)='changeReflex($event)' class='form-select' id='reflex'>
                <option value='0'>Off</option>
                <option value='1'>On</option>
                <option value='2'>Mirrored Vertically</option>
              </select>
            </div>
          </div>
          <!--                Frequency slider-->
          <div class='col flex-column'>
<!--            <nouislider (slide)='changeFrequencyLimit()' [(ngModel)]='frequencyLimits'-->
<!--                        [config]='frequencyLimitsConfig'></nouislider>-->
            <p class='small text-dark'>Minimum: {{frequencyLimits[0]}}</p>
            <p class='small text-dark'>Maximum: {{frequencyLimits[1]}}</p>
          </div>
        </div>
        <div class='row'>
          <!--                    Spin speed if radial is active-->
          <div class='col-4 offset-8'>
<!--            <nouislider (slide)='updateOptions()' *ngIf='this.visualizerOptions.radial'-->
<!--                        [(ngModel)]='this.visualizerOptions.spinSpeed'-->
<!--                        [config]='spinSpeedConfig'></nouislider>-->
            <p *ngIf='this.visualizerOptions.radial' class='small text-dark'>Spin
              speed: {{this.visualizerOptions.spinSpeed}}</p>
          </div>
        </div>

        <div class='row'>
          <div *ngIf="modeSelect.value === '11'" class='col-4 offset-8'>
<!--            <nouislider (slide)='updateOptions()'-->
<!--                        [(ngModel)]='this.visualizerOptions.lineWidth'-->
<!--                        [config]='lineWidthConfig'></nouislider>-->
            <p class='small text-dark'>
              Line width: {{this.visualizerOptions.lineWidth}}</p>
          </div>
        </div>
        <div class='row'>
          <div *ngIf="modeSelect.value === '11'" class='col-4 offset-8'>
<!--            <nouislider (slide)='updateOptions()'-->
<!--                        [(ngModel)]='this.visualizerOptions.fillAlpha'-->
<!--                        [config]='bgAlphaConfig'></nouislider>-->
            <p class='small text-dark'>
              Fill opacity: {{this.visualizerOptions.fillAlpha}}</p>
          </div>
        </div>
        <div class='row'>
          <!--              Scale-->
          <div class='col'>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <label class='input-group-text bg-secondary text-white'
                       for='scaleSelect'>Scale</label>
              </div>
              <select (change)='changeShowScale($event)' class='form-select'
                      id='scaleSelect'>
                <option selected value='0'>None</option>
                <option value='1'>Frequency</option>
                <option value='2'>Level (dB)</option>
                <option value='3'>Both</option>
              </select>
            </div>
          </div>
          <div class='col'>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <label class='input-group-text bg-secondary text-white'
                       for='mirrorSelect'>Mirror</label>
              </div>
              <select class='form-select' id='mirrorSelect' [(ngModel)]='visualizerOptions.mirror'
                      (ngModelChange)='updateOptions()'>
                <option selected [value]='0'>None</option>
                <option [value]='-1'>Mirror left</option>
                <option [value]='1'>Mirror Right</option>
              </select>
            </div>
          </div>
          <!-- Display modePage (leds, radial) -->
          <div class='col d-flex justify-content-center py-2'>
            <div class='btn-group' role='group' aria-label='Basic radio toggle button group'>
              <input type='radio' class='btn-check' name='options' id='leds'
                     (change)='changeDisplay($event)' autocomplete='off'
              >
              <label class='btn btn-outline-primary' for='leds'>Leds</label>

              <input type='radio' class='btn-check' name='options' id='lumi'
                     (change)='changeDisplay($event)' autocomplete='off'
              >
              <label class='btn btn-outline-primary' for='lumi'>Lumi</label>

              <input type='radio' class='btn-check' name='options' id='radial'
                     (change)='changeDisplay($event)' autocomplete='off'
              >
              <label class='btn btn-outline-primary' for='radial'>Radial</label>

              <input type='radio' class='btn-check' name='options' id='normal'
                     (change)='changeDisplay($event)' autocomplete='off'
              >
              <label class='btn btn-outline-primary' for='normal'>Normal</label>
            </div>
          </div>
        </div>
        <div class='row'>
          <!--              Scale-->
          <div class='col'>
          </div>
          <div class='col'></div>
          <!-- General settingsPage (fps, lo res) -->
          <div class='col d-flex  py-2'>
            <input type='checkbox' class='form-check' name='options' id='peaks'
                   (change)='changeGeneralSettings($event)' autocomplete='off'
            >
            <label class='form-check-label ms-2' for='peaks'>Peaks</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
