<div class='vh-100 d-flex flex-column bg-black' id='wrapper'>
  <div class="toolbar-container">
    <div class="toolbar">
      <!--      Button group-->
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="openSettingsWindow()">
          <fa-icon [icon]="settingsIcon" (click)="openSettingsWindow()"></fa-icon>
        </button>
        <button class='btn btn-primary' (click)='fullscreen()'>
          <fa-icon [icon]='fullscreenIcon'></fa-icon>
        </button>
        <button class='btn btn-primary' (click)='updateLedstrip()'>
          <fa-icon [icon]='modeIcon'></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class='h-75'>
    <app-shared-visualizer (ready)="init()" (registeredGradients)="readSettings()" [options]='visualizerOptions' [gradients]='gradients'></app-shared-visualizer>
  </div>
</div>
<app-modal>
  <div header><h3>Settings</h3></div>
  <div body>
    <!--    Select box for the gradients-->
    <div class="form-group">
      <label for="gradients">Gradient</label>
      <select class="form-control" id="gradients" (change)="applySettings()" [(ngModel)]="visualizerOptions.gradient">
        <option *ngFor="let gradient of gradients" [ngValue]="gradient.name">{{gradient.name}}</option>
      </select>
    </div>
    Footer
  </div>
</app-modal>
