<div id="settingsWrapper" class="bg-warning">
    <div id="settings" class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title border-bottom">
                    <h1 class="text-center">Settings</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text bg-secondary text-light" for="coms">com port</label>
                            </div>
                            <select [(ngModel)]="selectedCom" class="custom-select" id="coms">
                                <option *ngFor="let com of coms" value="{{com.path}}">{{com.path}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text bg-secondary text-light" for="numLeds">number of
                                    leds</label>
                            </div>
                            <input [(ngModel)]="numLeds" [placeholder]="numLeds" class="form-control" id="numLeds"
                                   type="number" min="0">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="chromaSuport" [(ngModel)]="chroma">
                                    <label class="custom-control-label" for="chromaSuport">enable chroma
                                        support</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button (click)="saveSettings()" class="btn btn-primary w-25">
                            <fa-icon [icon]="saveIcon"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
