<div id="settings" class="bg-info w-100">
    <div class="container p-4">
        <h1 class="text-dark">Settings</h1>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="coms">com</label>
                    </div>
                    <select id="coms" class="custom-select" [(ngModel)]="selectedCom">
                        <option *ngFor="let com of coms" value="{{com.path}}">{{com.path}}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="numLeds">number of leds</label>
                    </div>
                    <input id="numLeds" class="form-control" [(ngModel)]="numLeds" type="number" [placeholder]="numLeds">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-right">
                <button class="btn btn-dark w-25" (click)="saveSettings()">
                    <fa-icon [icon]="saveIcon"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
