.active > .icon-box {
  @apply tw-bg-base-300;

  h4 {
    @apply tw-text-base-content;
  }
}

.icon-box {
  @apply tw-bg-base-200 tw-p-10 tw-text-center tw-mb-3 tw-cursor-pointer tw-rounded-lg tw-border-2;
  transition: all ease-in-out 0.3s;
  box-shadow: 0 5px 90px 0 rgba(84, 95, 100, 0.05);

  h4 {
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin: 10px 0 15px 0;

    // Underline the heading with a pseudo element
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }

  &:hover {
    @apply tw-shadow-xl tw-shadow-base-300;
    h4 {
      color: white;
    }
  }
}

.icon-box-primary {
  @apply tw-border-primary;

  h4:after {
    @apply tw-bg-primary;
  }
}

.icon-box-secondary {
  @apply tw-border-secondary;

  h4:after {
    @apply tw-bg-secondary;
  }
}

.icon-box-success {
  @apply tw-border-success;

  h4:after {
    @apply tw-bg-success;
  }
}

.icon-box-info {
  @apply tw-border-info;

  h4:after {
    @apply tw-bg-info;
  }
}

.icon-box-warning {
  @apply tw-border-warning;

  h4:after {
    @apply tw-bg-warning;
  }
}

.icon-box-error {
  @apply tw-border-error;

  h4:after {
    @apply tw-bg-error;
  }
}

.icon-box-accent {
  @apply tw-border-accent;

  h4:after {
    @apply tw-bg-accent;
  }
}

#LineGraph1 path {
  @apply tw-fill-primary;
  transform: scaleY(0.5);
  animation: heightAnimation 5s ease-in-out infinite alternate;
  transform-origin: 0 41%;
}

#LineGraph2 path {
  @apply tw-fill-primary;
  transform: scaleY(0.5);
  animation: heightAnimation 6s ease-in-out infinite alternate;
  animation-delay: 2s;
  transform-origin: 0 41%;
}


#LineGraph3 path {
  @apply tw-fill-primary;
  transform: scaleY(0.5);
  animation: heightAnimation 3s ease-in-out infinite alternate;
  animation-delay: 1s;
  transform-origin: 0 41%;
}

#LowerArmGroup {
  transform-origin: 58% 50%;
  animation: moveArm 3s infinite alternate;
}

@keyframes heightAnimation {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes moveArm {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}
