/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  //background: url("../../../assets/hero-bg.jpg") top right no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    //background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  h1 {
    margin: 0;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
  }

  p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-family: "Poppins", sans-serif;

    span {
      color: getColor('primary');
      letter-spacing: 1px;
    }
  }

  .social-links {
    margin-top: 30px;

    a {
      font-size: 24px;
      display: inline-block;
      color: #45505b;
      line-height: 1;
      margin-right: 20px;
      transition: 0.3s;

      &:hover {
        color: getColor('primary');
      }
    }
  }
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

@media (max-width: 992px) {
  #hero {
    text-align: center;

    h1 {
      font-size: 32px;
      line-height: 36px;
    }

    p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

#Light path {
  animation: colorChange ease 15s infinite alternate;
}

@keyframes colorChange {
  0%   {fill: red;}
  16.6%  {fill: orange; }
  33.2%  {fill: #dddd1d;}
  49.8%  {fill: #05b005;}
  66.4% {fill: #1f1fea;}
  83% {fill: #6a00b8;}
  100% {fill: violet;}
}
