.alert-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  top: 3vh;
  right: 25px;
  z-index: 9999;

  > .alert {
    width: 100%;
  }
}
