<div class="tw-container">
  <form #form="ngForm" class="tw-card">
    <div *ngIf="settings" class="tw-card-body">
      <div class="tw-card-title tw-divide-y">
        <h1 class="tw-text-center">Settings</h1>
      </div>
      <div>
        <div class="input-group mb-3">
          Todo: Add support for chroma back in
          <div class="form-check">
            <input [(ngModel)]="settings.chromaSupportEnabled" class="form-check-input" id="chromaSupportEnabled"
                   name="chromaSupportEnabled"
                   type="checkbox"
                   disabled
            >
            <label class="form-check-label" for="chromaSupportEnabled">
              Enable chroma support
            </label>
          </div>
        </div>
      </div>
      <div>
        <div class="input-group mb-3">
          <div class="form-check">
            <input [(ngModel)]="settings.darkModeEnabled" class="form-check-input" id="darkModeEnabled"
                   name="darkModeEnabled"
                   type="checkbox">
            <label class="form-check-label" for="darkModeEnabled">
              Enable dark mode
            </label>
          </div>
        </div>
      </div>
      <div>
        Theme:
        <div class="tw-grid tw-grid-cols-3 tw-sm:grid-cols-2 tw-justify-center">
          <app-theme-visualization
            *ngFor="let availableTheme of availableThemes"
            [themeName]="availableTheme">
          </app-theme-visualization>
        </div>
      </div>
      <div class="tw-flex tw-justify-between">
        <button (click)="clearSettings()" class="tw-btn tw-btn-secondary" type="button">
          <fa-icon [icon]="clearSettingsIcon"></fa-icon>
          Reset defaults
        </button>
      </div>
    </div>
  </form>
</div>
