<div class='tw-container pt-5'>
  <div class='tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4'>
    <div class='tw-card tw-bg-base-100'>
      <div class='tw-card-body'>
        <h2 class='tw-card-title'>Device Status</h2>

        <div>
          <p>Ledstrip 1</p>
          <div class='tw-flex'>
            <div
              [style.--value]="speedPercentage"
              class='tw-text-center tw-radial-progress tw-text-primary' style='--size:8em; --thickness:5px'>
              Speed<br />
              {{speedPercentage | number: "1.0-0"}}%
            </div>
            <div
              [style.--value]="brightnessPercentage"
              class='tw-text-center tw-radial-progress' style='-size:8em; --thickness:5px'>
              Brightness<br/>
              {{brightnessPercentage | number: "1.0-0"}}%
            </div>
          </div>
        </div>

        </div>
    </div>

    <div class='tw-card tw-bg-base-100 tw-shadow-xl'>
      <div class='tw-card-body'>
        <h2 class='tw-card-title'>Something Else</h2>
        <div class='tw-flex'>
          <div class='tw-text-center tw-radial-progress' style='--value:70; --size:8em; --thickness:5px'>Speed<br/>70%</div>
          <div class='tw-text-center tw-radial-progress' style='--value:50; --size:8em; --thickness:5px'>Brightness<br/>50%</div>
        </div>
      </div>
    </div>
  </div>
</div>
