@import "../../../styles/variables";
#visualizer {
  display: flex;
  justify-content: center;

  canvas {
    width: 100% !important;
  }
}

.toolbar-container {
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;

  &:hover {
    opacity: 1;
  }
}
