@import "../../../styles/variables";

#visualizer {
  display: flex;
  justify-content: center;

  canvas {
    width: 100% !important;
  }
}

.toolbar-container {
  position: absolute;
  left: 50%;
  top: 2em;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

// Makes sure that the tabs are spread with equal widths along the entire width of the container
.tw-tab {
  @apply tw-justify-around tw-flex-1;
}

.tab-contents-container {
  @apply tw-mt-2 tw-h-full;

  .tab-content {
    @apply tw-h-full tw-opacity-0 tw-hidden;

    &.active-tab {
      @apply
      tw-block
      tw-opacity-100;
    }
  }
}
