<div class="tw-h-screen tw-flex tw-flex-col bg-black" id="wrapper">
  <div class="toolbar-container">
    <div class="toolbar">
      <!--      Button group-->
      <div class="tw-btn-group">
        <button (click)="toggleSettingsWindow()" class="tw-btn tw-btn-primary" type="button">
          <fa-icon [icon]="settingsIcon"></fa-icon>
        </button>
        <button (click)="fullscreen()" class="tw-btn tw-btn-primary">
          <fa-icon [icon]="fullscreenIcon"></fa-icon>
        </button>
        <button (click)="updateLedstrip()" class="tw-btn tw-btn-primary">
          <fa-icon [icon]="modeIcon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="tw-h-full">
    <app-shared-visualizer (ready)="init()" [options]="visualizerOptions"></app-shared-visualizer>
  </div>
</div>
<app-offcanvas position="right" width="300px">
  <div class="p-1 tw-flex tw-justify-between tw-w-full" header>
    <h3>Settings</h3>
    <button (click)="closeOffcanvas()" class="tw-btn tw-btn-outline tw-btn-primary" type="button">
      <fa-icon [icon]="closeIcon"></fa-icon>
    </button>
  </div>
  <div body class="tw-mt-5 tw-h-full">
    <!--    Create the tabs-->
    <div class="tw-tabs tw-w-full">
      <div (click)="selectTab(0)" class="tw-tab tw-tab-bordered" [class.tw-tab-active]="activeTab === 0">
        <fa-icon [icon]="listIcon"></fa-icon>
      </div>
      <div (click)="selectTab(1)" class="tw-tab tw-tab-bordered" [class.tw-tab-active]="activeTab === 1">
        <fa-icon [icon]="checkboxIcon"></fa-icon>
      </div>
      <a (click)="selectTab(2)" class="tw-tab tw-tab-bordered" [class.tw-tab-active]="activeTab === 2">
        <fa-icon [icon]="sliderIcon"></fa-icon>
      </a>
      <a (click)="selectTab(3)" class="tw-tab tw-tab-bordered" [class.tw-tab-active]="activeTab === 3">
        <fa-icon [icon]="spotifyIcon"></fa-icon>
      </a>
    </div>

    <!--    And here the content is switched based on the selected tab-->
    <div class="tab-contents-container">
      <div class="tab-content" [class.active-tab]="activeTab === 0">
        <div>
          <!-- Select box for the gradient, use gradientLeft because this is used when channelLayout = 'single' -->
          <div class="tw-form-control tw-w-full tw-max-w-xs">
            <label class="tw-label">
              <span class="tw-label-text">Gradient Left Channel</span>
            </label>
            <select (change)="applySettings()" [(ngModel)]="visualizerOptions.gradientLeft"
                    class="tw-select focus:tw-select-primary tw-select-bordered">
              <option *ngFor="let gradient of gradients" [ngValue]="gradient.name">{{gradient.name}}</option>
            </select>
          </div>

          <!-- Select box for the gradient right, only works when channelLayout != 'single' -->
          <div class="tw-form-control tw-w-full tw-max-w-xs">
            <label class="tw-label">
              <span class="tw-label-text">Gradient Right Channel</span>
            </label>
            <select (change)="applySettings()" [(ngModel)]="visualizerOptions.gradientRight"
                    class="tw-select focus:tw-select-primary tw-select-bordered">
              <option *ngFor="let gradient of gradients" [ngValue]="gradient.name">{{gradient.name}}</option>
            </select>
          </div>

          <!-- Select box for the display modes -->
          <div class="tw-form-control tw-w-full tw-max-w-xs">
            <label class="tw-label">
              <span class="tw-label-text">Display Mode</span>
            </label>
            <select (change)="applySettings()" [(ngModel)]="visualizerOptions.mode"
                    class="tw-select focus:tw-select-primary tw-select-bordered">
              <option *ngFor="let mode of modes" [ngValue]="mode.value">{{mode.text}}</option>
            </select>
          </div>

          <!-- Select box for Mirror. Accepted values are -1 for mirror left, 0 for no mirror and 1 for mirror right -->
          <div class="tw-form-control tw-w-full tw-max-w-xs">
            <label class="tw-label">
              <span class="tw-label-text">Mirror</span>
            </label>
            <select (change)="applySettings()" [(ngModel)]="visualizerOptions.mirror"
                    class="tw-select focus:tw-select-primary tw-select-bordered">
              <option [ngValue]="-1">Left</option>
              <option [ngValue]="0">None</option>
              <option [ngValue]="1">Right</option>
            </select>
          </div>

          <!-- Select box for FFT bin size -->
          <div class="tw-form-control tw-w-full tw-max-w-xs">
            <label class="tw-label">
              <span class="tw-label-text">FFT Bin Size</span>
            </label>
            <select (change)="applySettings()" [(ngModel)]="visualizerOptions.fftSize"
                    class="tw-select focus:tw-select-primary tw-select-bordered">
              <option [ngValue]="512">512</option>
              <option [ngValue]="1024">1024</option>
              <option [ngValue]="2048">2048</option>
              <option [ngValue]="4096">4096</option>
              <option [ngValue]="8192">8192</option>
              <option [ngValue]="16384">16384</option>
              <option [ngValue]="32768">32768</option>
            </select>
          </div>

          <!-- Select box for Weighting Filter -->
          <div class="tw-form-control tw-w-full tw-max-w-xs">
            <label class="tw-label">
              <span class="tw-label-text">Weighting Filter</span>
            </label>
            <select (change)="applySettings()" [(ngModel)]="visualizerOptions.weightingFilter"
                    class="tw-select focus:tw-select-primary tw-select-bordered">
              <option [ngValue]="''">None</option>
              <option [ngValue]="'A'">A-weighting</option>
              <option [ngValue]="'B'">B-weighting</option>
              <option [ngValue]="'C'">C-weighting</option>
              <option [ngValue]="'D'">D-weighting</option>
              <option [ngValue]="'468'">ITU-R 468 weighting</option>
            </select>
          </div>

          <!-- Select box for Energy Preset, determining which values to send over the wire -->
          <div class="tw-form-control tw-w-full tw-max-w-xs">
            <label class="tw-label">
              <span class="tw-label-text">Energy Preset</span>
            </label>
            <select (change)="applySettings()" [(ngModel)]="visualizerOptions.energyPreset"
                    class="tw-select focus:tw-select-primary tw-select-bordered">
              <option [ngValue]="'peak'">Peaks</option>
              <option [ngValue]="'bass'">Bass</option>
              <option [ngValue]="'lowMid'">Low Mid</option>
              <option [ngValue]="'mid'">Mid</option>
              <option [ngValue]="'highMid'">High Mid</option>
              <option [ngValue]="'treble'">Treble</option>
            </select>
          </div>

          <!-- Select box for Channel Layout -->
          <div class="tw-form-control tw-w-full tw-max-w-xs">
            <label class="tw-label">
              <span class="tw-label-text">Channel Layout</span>
            </label>
            <select (change)="applySettings()" [(ngModel)]="visualizerOptions.channelLayout"
                    class="tw-select focus:tw-select-primary tw-select-bordered">
              <option [ngValue]="'single'">Single</option>
              <option [ngValue]="'dual-vertical'">Dual Vertical</option>
              <option [ngValue]="'dual-horizontal'">Dual Horizontal</option>
              <option [ngValue]="'dual-combined'">Dual Combined (overlaid)</option>
            </select>
          </div>
        </div>
      </div>
      <div class="tab-content" [class.active-tab]="activeTab === 1">
        <div>
          <!--Checkbox for Alpha Bars-->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Alpha Bars</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.alphaBars"
                     class="tw-checkbox tw-checkbox-sm tw-checkbox-primary" type="checkbox" id="alphaBars" />
            </label>
          </div>

          <!--Checkbox for led bars -->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Led Bars</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.ledBars"
                     class="tw-checkbox tw-checkbox-sm tw-checkbox-primary" type="checkbox" id="ledBars" />
            </label>
          </div>

          <!-- Checkbox for luminance bars -->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Luminance Bars</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.lumiBars"
                     class="tw-checkbox tw-checkbox-sm tw-checkbox-primary" type="checkbox" id="luminanceBars" />
            </label>
          </div>

          <!--Checkbox for showing peaks-->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Show Peaks</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.showPeaks"
                     class="tw-checkbox tw-checkbox-sm tw-checkbox-primary" type="checkbox" id="showPeaks" />
            </label>
          </div>

          <!-- Checkbox for showing outline bars. Only works when mode is on of the octave bands-->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Show Outline</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.outlineBars"
                     [disabled]="!isOctaveBandMode" class="tw-checkbox tw-checkbox-sm tw-checkbox-primary"
                     type="checkbox"
                     id="showOutline" title="Only works when mode is one of the octave bands" />
            </label>
          </div>

          <!-- Checkbox for show scale on X axis-->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Show scale on X axis</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.showScaleX"
                     class="tw-checkbox tw-checkbox-sm tw-checkbox-primary" type="checkbox" id="showScaleX" />
            </label>
          </div>

          <!-- Checkbox for note labels on X axis -->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Note labels on X axis</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.noteLabels"
                     [disabled]="!visualizerOptions.showScaleX" class="tw-checkbox tw-checkbox-sm tw-checkbox-primary"
                     type="checkbox" id="noteLabels" />
            </label>
          </div>

          <!-- Checkbox for show scale on Y axis-->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Show scale on Y axis</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.showScaleY"
                     class="tw-checkbox tw-checkbox-sm tw-checkbox-primary" type="checkbox" id="showScaleY" />
            </label>
          </div>

          <!-- Checkbox for radial-->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Radial</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.radial"
                     class="tw-checkbox tw-checkbox-sm tw-checkbox-primary" type="checkbox" id="radial" />
            </label>
          </div>

          <!-- Checkbox for linearAmplitude-->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Linear Amplitude</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.linearAmplitude"
                     class="tw-checkbox tw-checkbox-sm tw-checkbox-primary" type="checkbox" id="linearAmplitude" />
            </label>
          </div>

          <!-- When stereo is enabled, show a checkbox to split gradient-->
          <div class="tw-form-control">
            <label class="tw-label tw-cursor-pointer">
              <span class="tw-label-text">Split Gradient</span>
              <input (change)="applySettings()" [(ngModel)]="visualizerOptions.splitGradient"
                     [disabled]="!visualizerOptions.stereo" class="tw-checkbox tw-checkbox-sm tw-checkbox-primary"
                     type="checkbox"
                     id="splitGradient" />
            </label>
          </div>
        </div>
      </div>
      <div class="tab-content" [class.active-tab]="activeTab === 2">
        <div class="tw-flex tw-flex-col tw-items-stretch">
          <!--      Simple slider for smoothing-->
          <div>
            Smoothing
            <ngx-slider (valueChange)="applySettings()" *ngIf="visualizerOptions.smoothing"
                        [(value)]="visualizerOptions.smoothing"
                        [options]="smoothingSliderOptions"></ngx-slider>
          </div>
          <!--Simple slider for rotation speed, only visible when radial is true-->
          <div>
            Rotation Speed
            <ngx-slider (valueChange)="applySettings()" *ngIf="visualizerOptions.spinSpeed !== undefined"
                        [(value)]="visualizerOptions.spinSpeed"
                        [options]="spinSpeedSliderOptions"></ngx-slider>
          </div>
          <!--      Simple slider for line width-->
          <div>
            Line Width
            <ngx-slider (valueChange)="applySettings()" *ngIf="visualizerOptions.lineWidth !== undefined"
                        [(value)]="visualizerOptions.lineWidth"
                        [options]="lineWidthSliderOptions"></ngx-slider>
          </div>
          <!--      Simple slider for fill alpha-->
          <div>
            Fill Alpha
            <ngx-slider (valueChange)="applySettings()" *ngIf="visualizerOptions.fillAlpha !== undefined"
                        [(value)]="visualizerOptions.fillAlpha"
                        [options]="fillAlphaSliderOptions"></ngx-slider>
          </div>
          <!--      Simple slider for linearBoost -->
          <div *ngIf="visualizerOptions.linearAmplitude && visualizerOptions.linearBoost">
            Linear Boost
            <ngx-slider (valueChange)="applySettings()"
                        [(value)]="visualizerOptions.linearBoost"
                        [options]="linearBoostSliderOptions"></ngx-slider>
          </div>
          <!--       Create three vertical sliders next to each other for all reflex controls: reflexRatio, reflexAlpha and reflexBright-->
          <div class="tw-grid tw-grid-cols-3 tw-h-[10em]">
            <div>
              Reflex Ratio
              <ngx-slider (valueChange)="applySettings()" *ngIf="visualizerOptions.reflexRatio !== undefined"
                          [(value)]="visualizerOptions.reflexRatio"
                          [options]="reflexSliderOptions"></ngx-slider>
            </div>
            <div>
              Reflex Alpha
              <ngx-slider (valueChange)="applySettings()" *ngIf="visualizerOptions.reflexAlpha !== undefined"
                          [(value)]="visualizerOptions.reflexAlpha"
                          [options]="reflexSliderOptions"></ngx-slider>
            </div>
            <div>
              Reflex Bright
              <ngx-slider (valueChange)="applySettings()" *ngIf="visualizerOptions.reflexBright !== undefined"
                          [(value)]="visualizerOptions.reflexBright"
                          [options]="reflexSliderOptions"></ngx-slider>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-content" [class.active-tab]="activeTab === 3">
        <div>
          <app-spotify-player (playbackChanged)="onSpotifyStateChanged($event)"></app-spotify-player>
        </div>
      </div>
    </div>
  </div>
</app-offcanvas>
