.btn-spotify {
  background-color: #1db954 !important;
  border-color: #1db954 !important;
  color: #fff;

  &:hover {
    background-color: #1ed760;
    border-color: #1ed760;
  }
}

.track{
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    // Use !important to override style of previous class
    opacity: 100% !important;
  }
}
