<div *ngIf="spotifyAuth.isLoggedIn(); else notLoggedIn">
  <div *ngIf="isActive; else notActive">
    <div class="tw-mt-3">


      <div class="tw-bg-base-100 tw-rounded-lg tw-shadow-lg tw-overflow-hidden">
        <div class="tw-relative">
          <img
            [src]="albumImageSrc"
            alt="Album Cover"
            class="tw-h-60 tw-w-full tw-object-cover">
          <div
            class="tw-absolute tw-p-4 tw-inset-0 tw-flex tw-flex-col tw-justify-end tw-bg-gradient-to-b tw-from-transparent tw-to-gray-900 tw-backdrop tw-backdrop-blur-5 tw-text-white">
            <h3 class="tw-font-bold">{{trackName}}</h3>
            <span class="tw-opacity-70">{{artistName}}</span>
          </div>
        </div>
        <div class="tw-h-[10px]">
          <progress class="tw-relative tw-top-[-10px] tw-progress tw-progress-primary tw-w-full"
                    [value]="currentTrackProgress"
                    [max]="currentTrack.duration_ms"></progress>
        </div>
        <div class="tw-flex tw-justify-between tw-font-semibold tw-text-base-content tw-px-4 tw-pb-2">
          <div class="tw-text-xs">
            {{currentTrackProgress | msToTime}}
          </div>
          <div class="playback-controls-container">
            <button (click)="previousSong()" class="tw-opacity-70 hover:tw-opacity-100">
              <fa-icon [icon]="previousSongIcon"></fa-icon>
            </button>
            <button (click)="togglePlay()">
              <fa-icon [icon]="getIconForPlayStatus" size="2x"></fa-icon>
            </button>
            <button (click)="skipSong()" class="tw-opacity-70 hover:tw-opacity-100">
              <fa-icon [icon]="skipSongIcon"></fa-icon>
            </button>
          </div>
          <div class="tw-text-xs">
            {{currentTrack.duration_ms | msToTime}}
          </div>
        </div>
        <ul class="upcoming-track-list">
          <li
            class="upcoming-track"
            *ngFor="let track of upcomingTracks;let i = index"
            [style.opacity]="calculateOpacityForUpcomingTrack(track, i)">
            <div class="tw-flex-1">
              <h3 class="tw-font-bold">{{track.name}}</h3>
              <span class="tw-opacity-70">{{getAllArtistsNamesForTrack(track)}}</span>
            </div>
            <div class="tw-text-xs tw-text-gray-400">
              {{track.duration_ms | msToTime}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #notLoggedIn>
  <a [href]="spotifyAuthenticationURL" class="tw-btn tw-btn-primary btn-spotify tw-w-full tw-mt-3">
    <fa-icon [icon]="spotifyIcon"></fa-icon>
    Login with Spotify
  </a>
</ng-template>

<ng-template #notActive>
  <h4> Spotify is not active!</h4>
  <p>Please select Angulon in the list of devices in your Spotify app and start playing music.</p>
</ng-template>

