.offcanvas-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.offcanvas-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
  background: white;

  transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
