@function getColor($key) {
  @return map-get($theme-colors, $key);
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@font-face {
  font-family: "Comfortaa";
  src: url('assets/fonts/comfortaa/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
  font-family: "RajdhaniMedium";
  src: url('assets/fonts/Rajdhani/Rajdhani-Medium.ttf');
}

$font-family-base: "Comfortaa";

$theme-colors: (
        "primary": #3e92cc,
        "secondary": #3A4454,
        "danger": #D8315B,
        "info": #0dcaf0,
        "warning": #ffc107,
        "success": #198754,
        "dark" : #1E1B18
);

$menu-bar-height: 30px;

.btn-primary {
  color: white;
}
