@function getColor($key) {
  @return map-get($theme-colors, $key);
}

@font-face {
  font-family: "Comfortaa";
  src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

$font-family-base: "Comfortaa";

$theme-colors: (
  "primary": #bb0505,
  "secondary": #45505b,
);

