///* You can add global styles to this file, and also import other style files */
//$body-bg: #1c1c1c;
//$text-color: #fff;
//
//$headings-color: $text-color;
//$link-color: $text-color;
//
////Color palette overrides
//$primary: #86897E;
//$secondary: #244441;
//$dark: $body-bg;
//$light: #FFF;
//$warning: #BB9236;
//
////Navbar overrides
//$navbar-default-link-color: #FFF;
//
////List group overrides
//$list-group-bg: $dark;
//$list-group-border: $primary;
//
//
//$super-large-font: 100px;
//
//.list-group-item {
//  border-color: $primary;
//  color: #FFF;
//}
//
//p {
//  color: $text-color;
//}
//
//.noUi-connect {
//  background-color: $secondary !important;
//}
//
//.circle {
//  clip-path: circle(45.2% at 11% 74%);
//  height: 95%;
//  width: 100%;
//  background-color: $warning;
//  position: absolute;
//  top: 5%;
//  left: 0;
//  transition: background-color 250ms ease-in;
//
//  &:hover {
//    background-color: lighten($warning, 10%);
//  }
//}
//
//.superLarge {
//  font-size: $super-large-font;
//}
//
//.input-group-text{
//  min-width: 100px;
//}
//
//.margin-right-25 {
//  margin-right: 25%;
//}
//
//.dropdown-menu {
//  border-radius: 0 !important;
//  border: none !important;
//}
//
//.dropdown-item {
//  &:focus{
//    outline: none !important;
//    background: $light !important;
//    color: $dark !important;
//  }
//
//  &:hover{
//    background: $light !important;
//    color: $dark !important;
//  }
//}
//
//
///* ============ desktop view ============ */
//@media all and (min-width: 992px) {
//  .navbar .nav-item .dropdown-menu {
//    display: none;
//  }
//  .navbar .nav-item:hover .nav-link {
//    color: #fff;
//  }
//  .navbar .nav-item:hover .dropdown-menu {
//    display: block;
//  }
//  .navbar .nav-item .dropdown-menu {
//    margin-top: 0;
//  }
//}
//
//.floating {
//  position: absolute;
//  right: 5%;
//}
//

@import '_variables.scss';

/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/


body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: getColor('primary') ;
  border-radius: 10px;
  border: 1px solid darken(getColor('primary'), 5%);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: getColor('primary');

  &:hover {
    color: getColor('primary');
    text-decoration: none !important;
  }
}

h1, h3, h4, h5, h6 {
  font-family: "Comfortaa", sans-serif !important;
}

h2 {
  font-family: "Raleway", sans-serif !important;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: getColor('primary');
      bottom: 0;
      left: calc(50% - 20px);
    }
  }

  p {
    margin-bottom: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.nav-menu {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul > li {
    position: relative;
    white-space: nowrap;

  }

  a {
    display: flex;
    align-items: center;
    color: getColor('secondary');
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;

    fa-icon {
      font-size: 20px;

    }


    .hover {
      padding: 0.75em;
      border-radius: 50%;
      &:hover {
        background: darken(getColor('primary'), 10%);
      }

    }

    span, div {
      padding: 0 5px 0 7px;
      color: getColor('secondary');
    }

    &:hover {
      color: #fff;
      background: getColor('primary');
    }
  }

  .active > a, li:hover > a {
    color: #fff;
    background: getColor('primary');
  }

  a:hover span, .active > a span, li:hover > a span {
    color: #fff;
  }

  a:hover, li:hover > a {
    width: 100%;
    color: #fff;
  }

  a:hover span, li:hover > a span {
    display: block;
  }

  .colorpicker:hover {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;

    span {
      display: none;
      color: #fff;
    }
  }
}

/* Mobile Navigation */

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;

  fa-icon {
    color: getColor('secondary');
  }
}

.mobile-nav-active {
  overflow: hidden;

  #header {
    left: 0;
  }

  .mobile-nav-toggle fa-icon {
    color: getColor('primary');
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  //background: url("../../../assets/hero-bg.jpg") top right no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    //background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  h1 {
    margin: 0;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
  }

  p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-family: "Poppins", sans-serif;

    span {
      color: getColor('primary');
      letter-spacing: 1px;
    }
  }

  .social-links {
    margin-top: 30px;

    a {
      font-size: 24px;
      display: inline-block;
      color: #45505b;
      line-height: 1;
      margin-right: 20px;
      transition: 0.3s;

      &:hover {
        color: getColor('primary');
      }
    }
  }
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

@media (max-width: 992px) {
  #hero {
    text-align: center;

    h1 {
      font-size: 32px;
      line-height: 36px;
    }

    p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@import "~bootstrap/scss/bootstrap";
