name: Build & Deploy Docker
on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN }}

      # Add support for more platforms with QEMU (optional)
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Create custom buildx builder
        run: docker buildx create --name mybuilder
      - name: Use the created builder
        run: docker buildx use mybuilder
      - name: Bootstrap builder
        run: docker buildx inspect --bootstrap


      - name: Build and push base image
        run: docker buildx build --platform=linux/arm/v7 -t ${{ secrets.USERNAME }}/angulon:nx-base --push .
      - name: Build sub-application images
        run: docker buildx bake --push --set *.platform=linux/arm/v7
